<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Landing Page</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/my_style_sheet.css')}}"> -->
    <!-- // <script TYPE="text/javascript" src="{{url_for('static', filename='js/my_script.js')}}"></script> -->
  </head>

  <body>
    <h1>This is Landing Page</h1>
    <p>Welcome Home</p>
    <a href='http://localhost:5000/ninjas'>ninja</a>
    <a href='http://localhost:5000/dojos/new'>dojos</a>
  </body>

</html>
