<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <title>QuotingDojo</title>
         <style type="text/css">
            logo {
                text-align: center;
            }

            .input {
                margin: auto;
                width: 50%;
            }

            h3 {
                display: inline-block;
                vertical-align: top;
                margin-top: 0px;
                width: 150px;
            }
            form {
                display: inline-block;
                vertical-align: top;
            }

            .button {
                vertical-align: bottom;
            }

            #leftButton {
                margin-top: 15px;
                margin-left: 80px;
            }

            #rightButton{
                float: right;
                margin: -45px 0px 0px 400px;
            }

         </style>
    </head>
    <body>
        <logo>
            <h1>Edit your quote</h1>
        </logo>

        <wrapper>
            <div class="input">
                @{
                    foreach (var error in ViewBag.Errors)
                    {
                        if (@error.Errors.Count > 0)
                        {
                            <p>@error.Errors[0].ErrorMessage</p>
                        }
                    }
                }
                <form action="/edit" method="post">
                    <h3>Your name: </h3> <input type="text" name = "Name" placeholder="Your name">
                    <br>
                    <h3>Your quote: </h3> <textarea rows="10" cols="50" name="Quote" placeholder="Your quote here"></textarea>
                    <br>
                    <input type="submit" name="edit" value="Edit my quote!" class="button" id="leftButton">
                </form>
                <form class="button" action="/quotes" method="Get">
                    <input type="submit" name="skip" value="Skip to quotes!" id="rightButton">
                </form>
            </div>
        </wrapper>

    </body>
</html>