<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Add an animal</title>
    <link rel="stylesheet" type="text/css" href=" ">
  </head>

  <body>

    <form action="/" method='post'>
      Name: <input type="text" name="name">
      Type: <input type="text" name="type">
      <input type="submit" value="Add new animal!">
    </form>

  </body>

</html>
