<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title></title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div id="title">
            <h3>The current time and date</h3>
        </div>
        
        <div id="time">
            <h1> @ViewBag.TimeDisplayDate </h1>
            <h1> @ViewBag.TimeDisplayTime </h1>
        </div>

    </body>
</html>