<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Submitted Info</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css')}}">
  </head>

  <body>
    <h1>Submitted Info</h1>
    <div id="infoTitle">
      <p>Name:</p>
      <p>Dojo Location:</p>
      <p>Favorite Language:</p>
      <p>Comment:</p>
    </div>

    <div id="infoInput">
      <p>{{name2}}&nbsp</p>
      <p>{{location2}}</p>
      <p>{{language2}}</p>
      <p>{{comment2}}</p>
    </div>

    <form action='/' method='post'>
      <input id="GoBack" type='submit' value='Go Back'>
    </form>
  </body>

</html>
